{{ 'style.account.css' | asset_url | stylesheet_tag }}

<div class="account">
  <div class="account__sidebar">
    <h4 class="heading-text heading-4 heading-4--regular">My Account</h4>
    <a href="/account" class="account__link active link-effect">Account Overview</a>
    <a href="" class="account__link link-effect">Order Details</a>
    <a href="" class="account__link link-effect">Address Book</a>
    <a href="{{ routes.account_logout_url }}" class="account__logout link-effect">Log Out</a>
  </div>

  <div class="account__content">
    <div id="customer_orders">
      <h5 class="account__heading-text">Order Details</h5>
      {% paginate customer.orders by 10 %}
        {% if customer.orders.size != 0 %}
          {% for order in customer.orders %}
            <!-- order details here -->
          {% endfor %}
        {% else %}
          <p>You haven't placed any orders yet.</p>
        {% endif %}
        {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>
    <div class="account__address-book">
      <h5 class="account__heading-text">Address Book</h5>
      <h4>
        {{ customer.first_name }}
        {{ customer.last_name }}
      </h4>

      {% if customer.default_address %}
        <p>{{ customer.default_address.address1 }}</p>
        {% if customer.default_address.address2 != '' %}
          <p>{{ customer.default_address.address2 }}</p>
        {% endif %}
        <p>
          {{ customer.default_address.city }}
          {% if address.province_code %}{{ customer.default_address.province_code }} {% endif -%}
          {{- customer.default_address.country }}
        </p>
        <p>{{ customer.default_address.zip }}</p>
        <p>{{ customer.default_address.phone }}</p>

        <a href="{{ routes.account_addresses_url }}" class="link-effect account__address-link"> View Addresses</a>
      {% endif %}
    </div>
  </div>
</div>
