{{ 'style.header.css' | asset_url | stylesheet_tag }}
<header class="header">
  <nav class="navigation">
    <div class="container">
      {% # theme-check-disable %}
      {% if template == 'index' %}
        <img
          class="navigation__logo"
          src="{{section.settings.logo-light.src | img_url: '240x'}}"
          alt="{{section.settings.logo-light.alt}}"
        >
      {% else %}
        <img
          class="navigation__logo"
          src="{{section.settings.logo-dark.src | img_url: '240x'}}"
          alt="{{section.settings.logo-dark.alt}}"
        >
      {% endif %}
      {% # theme-check-enable %}
      <ul class="navigation__list">
        {% for link in linklists['again-faster-home-menu'].links %}
          <li class="navigation__item">
            <a class="navigation__link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="navigation__user">
        {% render 'icon-search' %}
        {% render 'icon-avatar' %}
        {% render 'icon-cart' %}
      </div>
    </div>
  </nav>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo-light",
      "label": "Logo Light"
    },
    {
      "type": "image_picker",
      "id": "logo-dark",
      "label": "Logo Dark"
    }
  ]
}
{% endschema %}
