{{ 'style.homepage-cta.css' | asset_url | stylesheet_tag }}
<div class="container">
  <div class="homepage-cta homepage-cta--2">
    <div class="homepage-cta__content">
      <h2 class="heading-text heading-2 heading-2--light">{{ section.settings.title }}</h2>
      {% render 'button-secondary', btnType: 'light', url: {{section.settings.button_url}}, title: {{section.settings.button}} %}
    </div>
  </div>
</div>
<style>
  .homepage-cta--2 {
    background-image: url('{{ section.settings.bg_image.src | image_url: width: 1440 }}');
  }
</style>
{% schema %}
{
  "tag": "div",
  "name": "Homepage CTA 2",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "New Arrivals",
      "label": "Section Title"
    },
    {
      "type": "text",
      "id": "button",
      "default": "Shop Now",
      "label": "Section Button"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Section Button Link"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    }
  ]
}
{% endschema %}
