<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
{{ 'style.main-product.css' | asset_url | stylesheet_tag }}
{{ 'style.products-list.css' | asset_url | stylesheet_tag }}
{{ 'style.product-card.css' | asset_url | stylesheet_tag }}
{{ 'style.recharge-app.css' | asset_url | stylesheet_tag }}
<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/kR3d1i9T5f5dwpIGlby4iTlcDndyEIfj6CIOSFED" async></script>

<div class="main-product">
  <div class="container">
    <div class="main-product__wrapper">
      <div class="product-gallery swiper">
        <div class="swiper-wrapper">
          {% for img in product.images %}
            <div class="swiper-slide">
              <img src="{{ img | image_url: width: '720', height: '900' }}" data-src="{{ image_url }}" data-aspectratio="{{ img.asperct_ratio }}" data-sizes="auto" loading="lazy" data-parent-fit="cover" alt="{{ img.alt | escape }}" class="lazyload">
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="product-details">
        <h4 class="heading-text heading-4">
          {{ product.title }}
        </h4>
        <p class="product-details__price">
          {{ product.price | money }}
        </p>
        <div class="product-details__review">
          <div class="yotpo-widget-instance" data-yotpo-instance-id="250138" data-yotpo-product-id="{{ product.id }}"></div>
        </div>
        <div class="product-details__review">
          {% render 'icon-affirm' %}
          <p>pay as low as 56/mo Learn More</p>
        </div>
        <div class="product-details__description">
          {{ product.description }}
        </div>
        <form action="" data-novariant="{{ product.has_only_default_variant }}" data-selling_plan_id="{{product.selling_plan_groups.size}}" class="product-details__form">
          <div class="product-details__variants-list">
            {% unless product.variants[0].title == 'Default Title' %}
              {% for variant in product.variants %}
                {% assign price = variant.price %}
                {% assign quantity = variant.inventory_quantity %}
                <input type="radio" name="variant" id="{{ variant.id }}" class="product-details__variants-item-input" value="{{ variant.id }}"
                  {% if variant == product.selected_or_first_available_variant %}
                  checked
                  {% endif %}
                  {% if quantity <= 0 %}
                  disabled
                  {% endif %}>
                <label for="{{ variant.id }}" data-price="{{ price }}" data-id="{{ variant.id }}" class="product-details__variants-item {% if quantity <= 0 %} disabled {% endif %}">
                  {{ variant.title }}
                </label>
              {% endfor %}
            {% else %}
              <span class="product-details__novariant" data-productid="{{ product.variants[0].id }}"></span>
            {% endunless %}
          </div>
          {% if product.selling_plan_groups.size >= 1 %}

            <div class="form__block">
              <p class="block__header">Select Your Purchase Type</p>
              <ul class="block__options">
                <li class="options__item" data-open-accessibility-text-original="16px" style="font-size: 16px;">
                  <input class="recharge-option" name="purchase-type" value="{{ product.selected_or_first_available_variant.id }}" name="one" id="one-time-purchase" type="radio" checked hidden/>
                  <label class="label--checkbox" for="one-time-purchase">One-time purchase</label>
                </li>
                <li class="options__item" data-open-accessibility-text-original="16px" style="font-size: 16px;">
                  <script>
                    console.log({{product | json }})
                  </script>
                  {%- assign new_price = product.variants[0].selling_plan_allocations[0].price  -%}
                  {%- assign procent = new_price | divided_by: product.price -%}
                  <script>
                    console.log({{new_price | divided_by: product.price | json }})
                  </script>
                  <input class="recharge-option" name="purchase-type" id="subscribe-and-save" value="subscribe" type="radio" hidden/>
                  <label class="label--checkbox" for="subscribe-and-save">Subscribe & Save
                    <span class="new_price">{{ 1 | minus: procent }}
                      %
                    </span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="form__block" id="subscribe-and-save-form-block">
              <p class="block__subtitle" data-open-accessibility-text-original="14px" style="font-size: 14px;">
                Choose fewer shipments and we pass along the savings to you.
              </p>
              <p class="block__header" data-open-accessibility-text-original="16px" style="font-size: 16px;">
                <span></span>
                Select your delivery option?</p>
              <ul id="subscribe-and-save-options" class="block__options">
                {% for item in product.selling_plan_groups[0].selling_plans %}
                  <li class="options__item">
                    <input class="recharge-frequent-option" value="{{ item.id }}" data-id="{{product.selected_or_first_available_variant.id}}" name="sub-options" id="{{ item.id }}" type="radio" hidden>
                    <label class="label--simple full" for="{{item.id}}">
                      <div class="weight">
                        <span class="paragraph">
                          {{ item.name | remove: 'Delivery every' }}
                        </span>
                      </div>
                    </label>
                  </li>
                {% endfor %}

              </ul>
            </div>
            <p id="free-sheeping-block" class="free-sheeping" data-open-accessibility-text-original="17px" style="display: none">
              YOU'RE QUALIFIED FOR FREE SHIPPING
            </p>
          {% endif %}
          <p class="product-details__services">Available for Free shipping!</p>
          <button type="submit" class="btn btn-primary product-details__add-cart">Add to Cart</button>
        </form>
        <div class="product-details__frequent">
          <p class="product-details__frequent-title">Frequently bought with</p>
          {% assign selected_handles = product.metafields.accentuate.frequently_bought | split: '|' %}
          {% for product in selected_handles %}
            <div class="product-details__product">
              <div class="product-details__img-wrapper">
                <img class="lazyload" src="{{ all_products[product].featured_image | img_url: '98x125' }}" data-src="{{ img_url }}" data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="{{all_products[product].featured_image.aspect_ratio }}" data-sizes="auto" loading="lazy" width height data-parent-fit="cover" alt="{{ all_products[product].featured_image.alt | escape }}">
              </div>
              <div class="product__details">
                <p class="p product__details--text">{{ all_products[product].title }}
                </p>
                <button type="button" data-id="{{ all_products[product].selected_or_first_available_variant.id }}" class="p product__details--link">
                  Add to Cart
                </button>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<script>
  swiper = new Swiper('.product-gallery ', {
    direction: 'vertical',
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    }
  });
</script>
<script>
  // let variant = {{ product.variants | json }}
  const priceTag = document.querySelector('.product-details__price');
  const varinatsList = document.querySelector('.product-details__variants-list');
  let variantId = "{{ product.id }}";
  varinatsList.addEventListener('click', function(e) {
    const target = e.target.closest('.product-details__variants-item');
    if (! target) {
      return;
    }
    priceTag.innerText = badgeContainer(target.dataset.price);
    variantId = target.dataset.id;
  });
  const badgeContainer = (price) => {
    const opt = {
      style: 'currency',
      currency: 'USD'
    };
    return new Intl.NumberFormat('en-US', opt).format(price / 100);
  };

  const oneTimePurchase = document.querySelector('#one-time-purchase')
  const subscribeAndSave = document.querySelector('#subscribe-and-save')
  const oneTimePurchaseFormBlock = document.querySelector('#one-time-purchase-form-block');
  const subscribeAndSaveFormBlock = document.querySelector('#subscribe-and-save-form-block');
  const deliveryOptions = document.querySelector('.recharge-frequent-option:first-of-type')

  subscribeAndSaveFormBlock.style.display = 'none';

  oneTimePurchase.addEventListener('click', (e) => {
    subscribeAndSaveFormBlock.style.display = 'none';
  })

  subscribeAndSave.addEventListener('click', (e) => {
    subscribeAndSaveFormBlock.style.display = 'block';
    deliveryOptions.setAttribute('checked', 'checked')
  })
</script>
{% schema %}
  {
    "name": "Product Description",
    "blocks": [
      {
        "type": "@app"
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "suggestion_text",
        "label": "Suggestion Title",
        "default": "You might also like"
      }, {
        "type": "text",
        "id": "add_cart_title",
        "label": "Add to Cart Button",
        "default": "Add to Cart"
      }, {
        "type": "url",
        "id": "link_cart",
        "label": "Cart Link"
      }
    ]
  }
{% endschema %}
